
*{
    margin: 0;
    padding: 0;
}
/*固定头部*/
header{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgb(95,192,205);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}
button:focus{
    outline: 0;
}/*清除点击按钮后出现的边框*/
.btn{
    background-color: rgb(85,168,179);
    color: white;
    border: none;
    border-radius: 5px;
}
.btn:focus{
    outline: 0;
    border-radius: 5px;
    color:  rgb(95,192,205);
}/*清除点击头部按钮组后出现的边框*/
.icon1{
    width: 21px;
    height: 22px;
    background-image: url(css_sprites.png);
    background-size: 105.5px 62.5px;
    background-position: -5px -5px;
    position: absolute;
    right: 15px;
    bottom: 10px;
    border: none;
    background-color: rgb(95,192,205);
}
/*下拉框部分*/
a{
    width: 100%;
    height: 35px;
    position: fixed;
    top: 50px;
    border-bottom: 1px solid  rgb(225,229,231);
    background-color: white;
}
.col-xs-4{
    text-align: center;
    border-right: 1px transparent solid;
    border-image:linear-gradient(#fff, #e1e5e7,#fff) 1;
}
.btn1{
    color: rgb(153,153,153);
    width: 100%;
    height: 34px;
    border: none;
    background-color: white;
}
.caret{
    float: right;
    margin-top: 10px;   
}/*下拉箭头*/
.dropdown-menu-1{
    display: none;
}
.col-xs-4:hover .dropdown-menu-1{
    display: block;
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 0;
    background-color: white;
    color: rgb(176,176,176);
    z-index: 1;   
}
.p:hover{
    color: rgb(63,63,63);
    font-size: large;
    border-top: 1px solid rgb(63,63,63);
    border-bottom: 1px solid rgb(63,63,63);
}
.btn-left{
    border: none;
    color: rgb(234,137,137);
    float: left;
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
}
.btn-right{
    float: right;
    border: none;
    color: rgb(234,137,137);
    background-color: white;
    margin-right: 20px;
    margin-top: 10px;
}
.p-1{
    display: inline-block;
    margin-top: 30px;
}
/*列表项*/
main{
    width: 100%;
    margin-top: 85px;
}
li{
    list-style: none;
    display: inline-block;
    height: 22px;
    line-height: 22px;
}
.liebiao{
    width: 100%;
    height: 110px;
    z-index: -2;
}
.icon5{
    width: 12px;
    height: 12px;
    background-image: url(css_sprites.png);
    background-size: 105.5px 62.5px;
    background-position: -88.5px -5px;
    margin-left: 15px;
    margin-top: 20px;
}
.main-top{
    font-size: small;
    color: rgb(153,153,153);
}
.main-right{
    float: right;
    color: red;
    font-size: 16px;
    margin-right: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 3px;
}
.main-left{
    width: 200px;
    margin-left: 34px;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 3px;
}
hr{
    margin-top: -3px;
}
.icon6{
    width: 9.5px;
    height: 16.5px;
    background-image: url(css_sprites.png);
    background-size: 105.5px 62.5px;
    background-position: -69px -5px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.icon7{
    width: 9.5px;
    height: 11.5px;
    background-image: url(css_sprites.png);
    background-size: 105.5px 62.5px;
    background-position: -88.5px -27px;
    margin-left: 15px;
}
/*固定底部*/
footer{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: white;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;

}
.footer-left{
    width: 40px;
    height: 50px;
    margin-left: 20%;
    text-align: center;
    line-height: 25px;
    color:  rgb(95,192,205);
    font-size: smaller;
    position: relative;
    
}
.footer-cenret{
    width: 50px;
    height: 50px;
    background-color:  rgb(95,192,205);
    position: relative;
    border-radius: 25px;
    
}
.footer-right{
    width: 40px;
    height: 50px;
    margin-right: 20%;
    text-align: center;
    line-height: 25px;
    color: rgb(153,153,153);
    font-size: smaller;
    position: relative;
}
.icon2{
    width: 23px;
    height: 23px;
    background-image: url(css_sprites.png);
    background-size: 105.5px 62.5px;
    background-position: -36px -5px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
}
.icon3{
    width: 20px;
    height: 23px;
    background-image: url(css_sprites.png);
    background-size: 105.5px 62.5px;
    background-position: -36px -37px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}    
.icon4{
    width: 21px;
    height: 23px;
    background-image: url(css_sprites.png);
    background-size: 105.5px 62.5px;
    background-position: -5px -37px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    }


   